datasets==2.19.0
diffusers==0.27.2
einops==0.8.0
huggingface-hub
imageio
jaxtyping
joblib
lightning-utilities
matplotlib
numpy==1.26.4
omegaconf==2.3.0
opencv-python
pandas
pillow
plyfile
PyMCubes==0.1.4
pyparsing==3.1.2
pytorch-lightning==2.2.4
PyYAML
safetensors
scikit-image
scipy
tensorboard
tensorboardX
timm
tokenizers==0.19.1
torch
torchvision
tqdm
transformers==4.40.1
trimesh==4.3.2
wandb==0.16.6
segment_anything==1.0
spaces==0.28.3
open_clip_torch
kiui==0.2.7
accelerate==0.30.1
xformers